<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="classeA" class="br.fotonica.ClasseA"></bean>
	<bean id="classeB" class="br.fotonica.ClasseB">
		<property name="a">
			<ref bean="classeA"></ref>
		</property>
	</bean>
</beans>