<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.pitest.pitclipse.core.mutationTest">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ThymeleafTestApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="thymeleaf-test"/>
<stringAttribute key="org.pitest.pitclipse.core.test.avoidCallsTo" value="java.util.logging, org.apache.log4j, org.slf4j, org.apache.commons.logging"/>
<stringAttribute key="org.pitest.pitclipse.core.test.container" value=""/>
<stringAttribute key="org.pitest.pitclipse.core.test.excludeClasses" value=""/>
<stringAttribute key="org.pitest.pitclipse.core.test.excludeMethods" value=""/>
<booleanAttribute key="org.pitest.pitclipse.core.test.incrementalAnalysis" value="false"/>
<booleanAttribute key="org.pitest.pitclipse.core.test.parallel" value="true"/>
</launchConfiguration>
